<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問導遊 - 尋找私人導遊的專屬平台</title>

    <!-- FAVIOCN -->
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">

    <!-- 引用css、Bootstrap、 jQuery 與 popper -->
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/trip.css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl.theme.default.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/yo_shopcart.css">
    <style>

    </style>
</head>

<body>

    <!-- header start -->
    <header class="navbar">
        <!-- logo -->
        <div class="logo">
            <a href="http://127.0.0.1:3000/">
                <img src="/images/logo-w.png" alt="" /></a>
            <span>- when do you trip?</span>
        </div>
        <!-- 搜尋欄 -->
        <div class="search">
            <input type="search" value="輸入城市、景點、體驗行程或活動名稱..." />
            <button>搜尋</button>
        </div>
           <!-- 登入/註冊 -->
    <div class="login">
   
        <% if( userName == "Guest"){ %>
       
          <a href="/users/login?backUrl=/users/shopcart"><span>登入</span></a>
        
        <a href="/users/register?backUrl=/users/shopcart"><span>註冊</span></a>
        
        <% }else { %>
    
          <a href="/users/logout"><span>登出</span></a>
          <a href="/users/Infoupdata"><span>個人頁</span></a>
          <% } %>
         <!-- <a ><span>Welcome <%=  userName %></span></a> -->
    </div>
        <!-- 快捷導航 -->
        <ul class="shortcut">
            <li>
                <a href="http://127.0.0.1:3000/trip">選擇你的專屬行程</a>
            </li>
            <li>
                <a href="http://127.0.0.1:3000/guide">尋找你的專屬導遊</a>
            </li>
            <li>
                <a href="http://127.0.0.1:3000/users/shopcart">購物車</a>
            </li>
        </ul>
    </header>
    <!-- header end -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- 購物車_開始 -->
    <!-- 購物車流程 -->
    <div class="container">
        <ol id="" class="breadcrumb">
            <li class="active">
                <img src="../../public/links/IcoMoon-Free-master/PNG/16px/059-cart.png" alt=""> 個人資訊>
            </li>
            <li>
                <img src="../../public/links/IcoMoon-Free-master/PNG/16px/007-pencil2.png" alt=""> 
            </li>

            <li>
                <img src="../../public/links/IcoMoon-Free-master/PNG/16px/273-checkmark.png" alt=""> 查看我的購物紀錄
            </li>
        </ol>
    </div>
    <div class="container cartItem ">
        <!-- 購物車標題 -->
        <div class="cartHead">
            <div>
                <h3>我的購物紀錄</h3>
            </div>

            <divr class="row">
                <div class="col-3"></div>
                <div class="col-2">商品名稱</div>
                <div class="col-2">時間</div>
                <div class="col-2" style="padding-right: 30px;">人數</div>
                <div class="col-2" style="padding-right: 30px;">已累積點數</div>
            </divr>

        </div>
        <!-- 購物車內容 -->
        <!-- 第一筆選項開始 -->
        
    
        <form   action="">
            
            <% for(var i=0; i<title.length; i++) { %> 

                    <div class="cartBody row">
                <div class="col-1 cartCheck" style="">
                    <input class="" type="checkbox" name="shopItem" id="">
                </div>
                <div class="col-2 cartBodyPhoto" style="">

                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="I am " style="">
                </div>
                <div class="col-2 cartBodyTitle" style="">
                    <a href="#">
                        <h6 class="mt"></h6>
                    </a>
                    <a href="#">
                        <h6 class="mt"><%=title[i].tripNeed%></h6>
                    </a>
                </div>
                <div class="col-2" style="">
                    <p class="mt"><%=title[i].preTripDate%></p>
                    <p class="mt">場次：<%=title[i].preTripTime%></p>
                </div>
                <div class="col-2 " style="">
                    <p class="mt">成人 x<%=title[i].tripId%></p>
                    <p class="mt">小孩 x2</p>
                </div>
                <div class="col-2" style="">
                    <h6 class="mt">Travel Pints:<%=title[i].tripPrice*0.02%></h6>
                </div>
                <div class="col-2 " style="">
                    <a href=""><img class="mt" src="../../public/links/IcoMoon-Free-master/SVG/219-heart - 複製.svg"
                            alt=""></a>&emsp;
                    <a href=""><img class="mt" src="../../public/links/IcoMoon-Free-master/SVG/173-bin.svg" alt=""></a>
                </div>
       
            </div>
            <% } %>

            <!-- 第二筆選項開始 -->
            <!-- <div class=" cartBody row">
                <div class="col-1 cartCheck" style="">
                    <input class="" type="checkbox" name="shopItem" id="">
                </div>
                <div class="col-2 cartBodyPhoto" style="">

                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="I am " style="">
                </div>
                <div class="col-2 cartBodyTitle" style="">
                    <a href="#">
                        <h6 class="mt">台灣澎湖｜海洋牧場鮮蚵吃到飽｜澎湖海上牧場垂釣樂</h6>
                    </a>
                    <a href="#">
                        <h6 class="mt">海洋牧場體驗</h6>
                    </a>
                </div>
                <div class="col-2" style="">
                    <p class="mt">2020-07-17</p>
                    <p class="mt">場次：14:00</p>
                </div>
                <div class="col-2 " style="">
                    <p class="mt">成人 x 1</p>
                    <p class="mt">小孩 x 1</p>
                </div>
                <div class="col-1" style="">
                    <h6 class="mt">TWD 340</h6>
                </div>
                <div class="col-2 " style="">
                    <a href=""><img class="mt" src="../../public/links/IcoMoon-Free-master/SVG/219-heart - 複製.svg"
                            alt=""></a>&emsp;
                    <a href=""><img class="mt" src="../../public/links/IcoMoon-Free-master/SVG/173-bin.svg" alt=""></a>
                </div>

            </div> -->
            <!-- 購物車結帳 -->
            <div class="cartFooter row">
                <div class="col-3" style="display:flex ;padding-left: 35px;">
                    <!-- <input id="checkAll" type="checkbox" name="all"> -->
                    <!-- <label for="checkAll">&emsp;全部選擇</label>&emsp;|
                    <label for="checkAll">&emsp;刪除已選項目</label> -->

          </div>
                <div class="col-5" style="">
                </div>
                <div class="col-2" style="">
                    <h4>累計歡樂點數</h4>
                </div>
                <div class="col-2 " style="">
                    <a href="http://127.0.0.1:3000/users/shoppay">
                        <button class=" btn btn-primary">換購我的點數</button></a>
                </div>
            </div>
       
       
       
       
        </form>
        <br>
        <br>
        <br>
        <br>
        <!-- 購物車_結束 -->
        <!-- 輪播商品_開始 -->
        <h3>最多人瀏覽</h3>

        <div class="owl-carousel owl-theme">
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>Travel Points</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>
            <div class="item">
                <h5>海洋牧場體驗</h5>
                <div>
                    <img class="img-fluid" src="/images/trip2_1.jpg" alt="">
                </div>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>可以使用三倍券</span></p>
                <p><span><img src="/MEFF08/public/links/IcoMoon-Free-master/PNG/16px/274-checkmark2.png" alt=""></span>
                    <span>★★★★★</span></p>

                <p><span>TWD</span>&emsp;<span>360</span></p>
            </div>



        </div>
        <!-- 輪播商品_結束 -->








        <!-- footer 頁尾區  -->
        <div class="container-fluid" id="footer">
            <div class="container py-5 footer_1">

                <div class="d-inline-flex flex-column pr-5">
                    <a class="mb-4 afot_connect" href="">最新消息</a>
                    <a class="afot_connect" href="">關於我們</a>
                </div>

                <!-- 區隔線段 左 -->
                <div class="d-inline-flex flex-column pr-5">
                    <div class="interval text-white "></div>
                </div>

                <div class="d-inline-flex flex-column pr-5">
                    <a class="mb-4 afot_connect" href="">導遊評價</a>
                    <a class="afot_connect" href="">旅遊心得</a>
                </div>

                <!-- 區隔線段 右 -->
                <div class="d-inline-flex flex-column pr-5">
                    <div class="interval text-white"></div>
                </div>

                <div class="d-inline-flex flex-column">
                    <a class="mb-4 afot_connect" href="">常見問答</a>
                    <a class="afot_connect" href="">活動頁面</a>
                </div>

            </div>
        </div>
        <!-- ## footer 頁尾區  -->

        <script type="text/javascript" src="../../public/links/js/jquery.toast.js"></script>
        <script>
            // 使用方式:
            // showToast("標題", "提示文字") 例如:
            // showToast("Hint", "請點一下正確的圖案");
            function showToast(heading, message) {
                $.toast({
                    text: message, // Text that is to be shown in the toast
                    heading: heading, // Optional heading to be shown on the toast
                    icon: 'warning', // Type of toast icon
                    showHideTransition: 'fade', // fade, slide or plain
                    allowToastClose: true, // Boolean value true or false
                    hideAfter: 3000, // false to make it sticky or number representing the miliseconds as time after which toast needs to be hidden
                    stack: 5, // false if there should be only one toast at a time or a number representing the maximum number of toasts to be shown at a time
                    position: 'top-right', // bottom-left or bottom-right or bottom-center or top-left or top-right or top-center or mid-center or an object representing the left, right, top, bottom values
                    textAlign: 'left', // Text alignment i.e. left, right or center
                    loader: true, // Whether to show loader or not. True by default
                    loaderBg: '#9ec600', // Background color of the toast loader
                    beforeShow: function () { }, // will be triggered before the toast is shown
                    afterShown: function () { }, // will be triggered after the toat has been shown
                    beforeHide: function () { }, // will be triggered before the toast gets hidden
                    afterHidden: function () { } // will be triggered after the toast has been hidden
                });
            }
        </script>
        <!-- 輪播圖控制器 -->
        <script>
            $(document).ready(function () {
                $('.owl-carousel').owlCarousel({
                    stagePadding: 50,
                    loop: true,
                    margin: 20,
                    nav: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        500: {
                            items: 3
                        },
                        1000: {
                            items: 5
                        }
                    }
                })
            });
        </script>
</body>

</html>